/*
* Configration file
*/
profiles {
    test {
        params.input = "${projectDir}/data/files.csv"
        params.report_id = "multiqc_test"
    }
}

/*
* Output settings
*/
outputDir = "${projectDir}/trial_results"
workflow.output.mode = 'copy'

/*
* Singuarity container settings
*/

singularity {
    enabled    = true
    autoMounts = true
}

/*
* Container settings for the RUN_VISTA process
*/
process {
    withName: RUN_VISTA {
        container = "${projectDir}/containers/vista.sif"
    }
}
