manifest {
    name        = 'ena-fetch'
    author      = 'DYNAMR, Malawi Liverpool Wellcome Research Programme'
    description = 'Download FASTQ reads from ENA by accession, verify checksums, optional FastQC/MultiQC'
    version     = '1.0.0'
    nextflowVersion = '>=23.04.0'
}

params {
    accessions    = null
    outdir        = 'ena_downloads'
    fastqc        = false
    fastqc_outdir = 'fastqc'
}
